*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f1f3f6;
}

/* NAVBAR */
.navbar{
  background:linear-gradient(90deg,#2874f0,#1e5bc6);
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
}

.logo{
  font-size:26px;
  font-weight:bold;
}

.logo span{
  color:yellow;
}

.navbar input{
  width:40%;
  padding:10px;
  border-radius:6px;
  border:none;
}

.nav-right{
  display:flex;
  gap:20px;
  align-items:center;
}

.checkout-btn{
  background:#ff9f00;
  padding:8px 12px;
  border-radius:6px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

/* HERO */
.hero{
  background:orange;
  padding:30px;
  text-align:center;
  color:white;
}

/* LAYOUT */
.container{
  display:flex;
}

/* FILTERS */
.filters{
  width:250px;
  background:white;
  padding:20px;
}

/* PRODUCTS */
main{
  flex:1;
  padding:20px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
  gap:25px;
}

.product-card{
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.product-card:hover{
  transform:translateY(-5px);
}

.product-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.product-card h4{
  padding:10px;
}

.price{
  padding:0 10px;
  font-weight:bold;
  color:green;
}

.btn-group{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

button{
  padding:8px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background:#ff9f00;
  color:white;
  font-weight:bold;
}

.wish-btn{
  background:#fb641b;
}

/* CHECKOUT */
.checkout-box{
  width:400px;
  margin:50px auto;
  background:white;
  padding:20px;
  border-radius:12px;
}

.checkout-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}
.checkout-box button{
  width:100%;
}